{% extends "layouts/base.html" %}

{% block title %} 管理 {% endblock %}
{% load book_extras %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">用户管理</h5>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <br>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <!-- [ basic-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>总共 {{count_total}} 个用户</h5>
                            </div>
                            
                            {% show_messages %}
                            <div class="card-block ">
                                <div class='row'>
                                    <div class="col-6">
                                        <b>请选择排序方式 : - </b>
                                        <a href="{% url 'member_list' %}?search={{search}}&orderby=id">Id</a>  | 
                                        <a href="{% url 'member_list' %}?search={{ search }}&orderby=name">用户姓名</a> |
                                        <a href="{% url 'member_list' %}?search={{ search }}&orderby=city">住址</a>
                                    </div>
   
                                    <div class="col-6">
                                        <form class="form-inline mb-2">
                                            <div class="form-group  mb-2">
                                                <input type="text" 
                                                       class="form-control" 
                                                       name="search",
                                                       id='search',
                                                       placeholder="输入姓名或卡号",
                                                       value={{search}}
                                                       >
                                            </div>
                                            <button type="submit" class="btn btn-secondary mb-2 ml-2 btn-sm">搜索一下</button>
                                        </form>
                                    </div>
                                </div>

                                <div class="table-responsive table-hover">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>性别</th>
                                                <th>电话号码</th>
                                                <th>卡号</th>
                                                <th>住址</th>
                                                <th>Email</th>
                                                <th>创建时间</th>
                                                <th>卡号过期时间</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for member in members %}
                                            <tr>
                                                <td><a href="{% url 'member_detail' member.pk %}" class='badge badge-secondary '><i class="feather icon-user"></i>&nbsp;{{member.name}}</a></td>                                                                
                                                <td>{{member.gender|upper}}</td>
                                                <td>{{member.phone_number}}</td>
                                                <td>{{member.card_number}}</td>
                                                <td>{{member.city}}</td>
                                                <td>{{member.email}}</td>
                                                <td>{{ member.created_at|date:"Y-m-d" }} by {{member.created_by}} </td>
                                                <td>{{ member.expired_at|date:"Y-m-d" }} </td>
                                                <td>
                                                    <a href="{% url 'member_update' member.pk %}" class="badge badge-info"><i class="feather icon-edit"></i>&nbsp;编辑</a>&nbsp;
                                                    <a href="{% url 'member_delete' member.pk %}" class="badge badge-danger"><i class="feather icon-trash-2"></i>&nbsp;删除</a></td>
                                                    
                                            </tr>
                                            {% endfor %}


                                        </tbody>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class='col-6'>
                                        <a href="{% url 'member_create' %}" class='btn btn-primary'>添加一个新用户</a>
                                    </div>
                                    <div class='col-6'>
 
                                        {% show_pagination %}


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
